*{
    font-family: "Manrope", sans-serif;
}

/* Ensure the label itself does not get any unwanted borders */
.label-input {
    border: none;
}
/* making search icon hidden */
@media screen and (max-width:320px) {
    .search-icon{
        visibility:hidden;
    }
}
